.shiki {
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
}

.prose {
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  color: var(--fg);
}

.prose a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}

.prose a:hover {
  border-bottom: 1px solid var(--fg);
}

.prose a code {
  color: inherit;
}

.prose hr {
  width: 50px;
  margin: 2em auto;
}

html.dark .prose {
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
}

a.header-anchor {
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor::before {
  content: '#';
  position: absolute;
  opacity: 0;
  left: -1.1em;
  padding-right: 1.1em;
}

h1:hover .header-anchor::before,
h1:focus .header-anchor::before,
h2:hover .header-anchor::before,
h2:focus .header-anchor::before,
h3:hover .header-anchor::before,
h3:focus .header-anchor::before,
h4:hover .header-anchor::before,
h4:focus .header-anchor::before,
h5:hover .header-anchor::before,
h5:focus .header-anchor::before,
h6:hover .header-anchor::before,
h6:focus .header-anchor::before {
  opacity: 0.5;
}

.prose blockquote {
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  padding: 0.6em 1.2em;
  opacity: 0.8;
}

.prose blockquote > :first-child {
  margin-top: 0;
}

.prose blockquote > :last-child {
  margin-bottom: 0;
}

.prose blockquote p:first-of-type::before {
  content: none;
}

.prose blockquote p:first-of-type::after {
  content: none;
}

.inline-images img {
  display: inline-block;
  margin: 0;
  box-shadow: none;
}

.prose .inline-image {
  display: inline-block;
  margin: 0 !important;
  box-shadow: none;
}

@media (max-width: 1200px) {
  .table-of-contents {
    display: none;
  }
}

.table-of-contents {
  position: fixed;
  top: 80px;
  padding-top: 70px;
  font-size: 0.8em;
  right: 10px;
  width: 200px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transition: all .4s ease-out;
}

.table-of-contents:hover {
  opacity: 0.5;
}

.table-of-contents ul > li::before {
  display: none;
}

.table-of-contents ul > li {
  padding-left: 0.8rem;
}
